mat-card {
    text-align: left;
    width: 30%;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-top: 100px;
  }
  

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}
.mat-50{
    width: 48%;
    margin: 1%;
}
.div-50{
    width: 48%;
    margin: 1%;
    display: inline;
}

button{
    margin: 2px;
}
.mat-mdc-raised-button{
    width: 100%;
}