<mat-card style="min-height: 500px;">
    <mat-card-header>
        <h2>Users </h2>
        <button (click)="addUser()" mat-raised-button color="primary" style="margin-left: 70%;">Add user</button>
    </mat-card-header>
    <mat-card-header>
        <p>Seacrh user</p>
        <input type="text" (change)="searchUser($event)">
    </mat-card-header>
    <button (click)="logout()" mat-raised-button color="accent" style="margin-left: 80%;">Logout</button>

    <mat-card-content>
        <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
               <th mat-header-cell *matHeaderCellDef>Id</th>
               <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
            
            <ng-container matColumnDef="name">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.firstname}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="editUser(element.id)">Edit</button>
                <button mat-raised-button color="accent" (click)="deleteUser(element.id)">Delete</button>
                </td> 
            </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </mat-card-content>
    <mat-card-footer>
        <mat-paginator [pageSizeOptions]="[5,10,50]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
</mat-card>